body {
    background-image: url("IMG/quimica3.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/IMG/quimica3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -1;
}

header {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 0 20px;
}

header a {
    font-size: 22px;
    color: #FFF755;
    text-decoration: none;
    letter-spacing: 1px;
    transition: transform 0.3s ease;
    font-family: 'Times New Roman', Times, serif;

}

header a:hover {
    transform: scale(1.1);
}

h1 {
    color: #FFF755;
    font-size: 100px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Sombra no título */
}

main {
    padding: 40px 10%;
}

#texto1, #texto2, #texto3, #texto4, #texto5, #texto6 {
    background-color: rgba(255, 255, 255, 0.1); /* Mais opaco */
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#texto1 h1, #texto2 h1, #texto3 h1, #texto4 h1, #texto5 h1, #texto6 h1 {
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #FFF755;
    margin-bottom: 20px;
    position: relative;
    left: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra no título das seções */
}

#texto1 p, #texto2 p, #texto3 p, #texto4 p, #texto5 p, #texto6 p {
    color: #FFFAAA;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.6;
    text-align: justify;
    width: 70%;
    padding: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra no texto */
}

img {
    width: 35%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 200px;
}

#casal-curie {
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    margin-top: 40px;
}
